body {
    background-color: #242424;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    font-family: Arial, sans-serif; /* Use a default font */
}

.top-bar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex; /* Use flexbox to align items */
    justify-content: space-between; /* Space between items */
    align-items: center; /* Center items vertically */
}

.close-button {
    cursor: pointer;
    margin-right: 10px; /* Add margin to the right */
}

.close-button img {
    width: 24px; /* Adjust width as needed */
    height: 24px; /* Adjust height as needed */
}

.app-name {
    flex-grow: 1; /* Take up remaining space */
    text-align: center; /* Center text */
}
