body {
    background-color: #222; /* Dark background color */
    color: #fff; /* Light text color */
    font-family: Arial, sans-serif; /* Use a sans-serif font */
  }
  
  #dock {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px; /* Adjust height as needed */
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 25px; /* Adjust border radius */
    border-top-right-radius: 25px; /* Adjust border radius */
  }  
  
  .app-icon {
    width: 50px; /* Adjust width */
    height: 50px; /* Adjust height */
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .app-icon img {
    max-width: 100%;
    max-height: 100%;
  }

  .app-icon:hover {
    transform: scale(1.2);
  }
  
  .iframe-container {
    position: relative;
  }

  .draggableIframe {
    width: 400px;
    height: 300px;
    border: 1px solid #fff; /* White border */
    position: absolute;
    cursor: move;
    background-color: #444; /* Dark background color */
  }
  
  .iframe-top-bar {
    background-color: #666; /* Dark gray */
    padding: 7px 15px; /* Adjust padding */
    border-bottom: 1px solid #fff; /* White border at the bottom */
    cursor: move;
    user-select: none; /* Disable text selection */
  }

  .close-button {
    float: left; /* Position close button on the left */
    cursor: pointer;
    width: 20px; /* Fixed width */
    height: 20px; /* Fixed height */
    margin-right: 10px; /* Add some space between close button and title */
  }
  
  /* Add styles for the top bar */
  #top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px; /* Adjust height as needed */
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px; /* Adjust padding */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Add shadow */
    z-index: 1000; /* Ensure it's on top of other elements */
  }

  /* Style for the title in the top bar */
  #top-bar h1 {
    margin: 0;
    font-size: 16px; /* Adjust font size */
  }
