/* Taskbar Styles */
.taskbar {
    background-color: #008080; /* Windows 95 Taskbar color */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px; /* Adjust taskbar height */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
}

.start-button img {
    width: 30px;
    height: 30px;
}

.pinned-apps {
    display: flex;
}

.pinned-app {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.pinned-app img {
    width: 100%;
    height: 100%;
}

/* Desktop Icons Styles */
.desktop-icons {
    position: absolute;
    top: 40px; /* Align with bottom of the taskbar */
    left: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.desktop-icon {
    width: 60px; /* Adjust the width as needed */
    height: 60px; /* Adjust the height as needed */
}

.desktop-icon img {
    width: 100%;
    height: 100%;
}
