/* Your existing CSS styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #242424;
    /* Dark mode background color */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    /* Ensure relative positioning for proper absolute positioning of iframe */
}

footer {
    background-color: #383838;
    /* Dark mode footer background color */
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px; /* Increased height for phone-like dock */
    position: fixed;
    bottom: 0;
    width: 100%;
}

.dock-item {
    width: 60px; /* Increased width for phone-like dock */
    height: 60px; /* Increased height for phone-like dock */
    margin: 0 10px;
    cursor: pointer;
    /* Change cursor to pointer when hovering over the image */
}

.dock-item img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.iframe-container {
    flex-grow: 1; /* Take up remaining vertical space */
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}
