body {
    background-color: #242424;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.container img {
    width: 200px; /* Adjust the width as needed */
    height: auto;
    max-width: 100%; /* Ensure the image does not exceed its container */
    max-height: 100%; /* Ensure the image does not exceed its container */
}

.container p {
    margin-top: 10px; /* Adjust the margin top as needed */
    color: white; /* Adjust the color as needed */
}
