body {
    background-color: #242424;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.container img,
.container p {
    opacity: 0; /* Initially make both elements transparent */
}

.animate-pop-in {
    animation: pop-in 0.5s ease forwards; /* Use a pop-in animation */
}

@keyframes pop-in {
    from {
        opacity: 0; /* Start with full transparency */
        transform: scale(0.5); /* Start small */
    }
    to {
        opacity: 1; /* End with full opacity */
        transform: scale(1); /* End with original size */
    }
}
