body {
    background-color: #242424;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes up at least the full viewport height */
}

.top-bar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-button {
    cursor: pointer;
    margin-right: 10px;
}

.close-button img {
    width: 24px;
    height: 24px;
}

.app-name {
    flex-grow: 1;
    text-align: center;
}

.notes-container {
    margin: 20px;
    flex-grow: 1; /* Let the notes container grow to fill the remaining space */
    display: flex;
    flex-direction: column;
}

textarea {
    flex-grow: 1; /* Let the textarea fill the remaining space */
    width: calc(100% - 20px); /* Adjusting width to account for padding */
    margin-bottom: 10px;
    resize: vertical; /* Allowing vertical resize of textarea */
}

button {
    width: 100%; /* Making button stretch to fit container */
    padding: 10px 0; /* Adjusting padding */
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}
