body {
    background-color: #333; /* Dark background color */
    color: #fff; /* Light text color */
    margin: 0; /* Remove default body margin */
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100px; /* Adjust width as needed */
    background-color: #222; /* Dark sidebar background color */
    padding: 20px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #444; /* Dark button color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff; /* Light text color for buttons */
}

button:hover {
    background-color: #666; /* Dark hover color for buttons */
}

#content {
    margin-left: 120px; /* Adjust to match the width of the sidebar */
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
}

iframe {
    border: none; /* Remove border around iframe */
    width: calc(100vw - 120px); /* Adjust width to fill remaining space */
    height: 100%; /* Fill available height */
}